{% extends 'base_category.html' %}
{% block title %}Category List{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            <td>{{ category.description }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No categories available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}