{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    {% load static %}
    
</head>
<body> {% endcomment %}
    {% comment %} <div class="navbar">
        <a href="{% url 'product-list' %}">Products</a>
        <a href="{% url 'supplier-list' %}">Suppliers</a>
        <a href="{% url 'category-list' %}">Categories</a>
    </div> {% endcomment %}
{% comment %} 
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Place to insert JavaScript -->
    <script src="{% static'../../../static/js/scripts.js' %}"></script>
    {% block custom_js %}
{% endblock %}
<h1>Product List</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td><button>Add to Cart</button></td>
    </tr>
    {% endfor %}
</table>

</body>
</html> {% endcomment %}
