<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static './inventory/css/styles.css' %}">
</head>
<body>
    <h1>Category Details</h1>
    <p><strong>ID:</strong> {{ category.id }}</p>
    <p><strong>Name:</strong> {{ category.name }}</p>
    <a href="{% url 'category-update' category.id %}">Edit</a>
    <a href="{% url 'category-delete' category.id %}" class="delete-button" data-category-name="{{ category.name }}">Delete</a>
    <a href="{% url 'category-list' %}">Back to Category List</a>
</body>
</html>
