<!-- templates/product_list.html -->
{% extends 'base.html' %}
{% block title %}Product List{% endblock %}


{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>piece</th>
        <th>Price per piece</th>
        <th>Quantity order</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>1 piece</td>
        <td>${{ product.price }}</td>
        <td>{{ product.quantity }} pieces orderd</td>
    </tr>
    {% empty %}
        <tr>
            <td colspan="3">No products found.</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
